---
layout: default
title: Home
---

<img class="headshot" src="/Images/Kenaston_Headshot.jpg" alt="Headshot of Connor S. Kenaston, a historian of religion, politics, and culture in the United States. Photograph by Shane Lin.">
<p>
    Dr. Connor S. Kenaston is an Assistant Professor of History at Randolph College. His research focuses on 20th-century social and cultural history. , particularly religion, culture, and politics. Connor received his PhD from the University of Virginia in 2022, and his 
    scholarship has been featured in publications such as <a href="https://doi.org/10.1017/mah.2022.2"><i>Modern American History</i></a>,” <a href="https://hybridpedagogy.org/with-care-and-context/"><i>Hybrid Pedagogy</i></a>
    and <a href = "https://methodistreview.org/index.php/mr/article/view/131"><i>Methodist Review</i></a>. He is currently working on a history of religious broadcasting, tentatively titled  “<a href="projects.html">Spirit of Power: Radio, Religion, and the Sound of the American Century</a>.” 
    
    <p>Below you will find a collection of Connor’s past blog posts. You can also use the navigation bar to learn more about Connor, his research, and his pedagogy.</p>

    <div class="posts">
      {% for post in paginator.posts %}
      <div class="post">
        <h1 class="post-title">
          <a href="{{ post.url }}">
            {{ post.title }}
          </a>
        </h1>

        <span class="post-date">{{ post.date | date_to_string }}</span>

        {{ post.content }}
      </div>
      {% endfor %}
    </div>

    <div class="pagination">
      {% if paginator.next_page %}
        <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
      {% else %}
        <span class="pagination-item older">Older</span>
      {% endif %}
      {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
          <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
        {% else %}
          <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
        {% endif %}
      {% else %}
        <span class="pagination-item newer">Newer</span>
      {% endif %}
    </div>
