---
layout: default
title: Home
---

<img class="headshot" src="Images/Kenaston_Headshot.jpg" alt="Headshot of Connor S. Kenaston, a scholar of U.S. history. Photograph by Shane Lin.">
<p>
    Connor S. Kenaston is the incoming Ainsworth Visiting Assistant Professor in American Culture at Randolph College. His teaching and scholarship examine the history of
    religion, politics, and labor in the United States. He also has expertise in public humanities and inclusive pedagogy. Kenaston received his PhD from the University of Virginia in 2022.
    His current project, “<a href="projects.html">Faith Networks: National Broadcasting and the Making of American Religion</a>,” examines religion and radio in interwar America.</p>

    <p>Below you will find a collection of Connor’s past blog posts. You can also use the navigation bar to learn more about Connor, his research, and his pedagogy.</p>

    <div class="posts">
      {% for post in paginator.posts %}
      <div class="post">
        <h1 class="post-title">
          <a href="{{ post.url }}">
            {{ post.title }}
          </a>
        </h1>

        <span class="post-date">{{ post.date | date_to_string }}</span>

        {{ post.content }}
      </div>
      {% endfor %}
    </div>

    <div class="pagination">
      {% if paginator.next_page %}
        <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
      {% else %}
        <span class="pagination-item older">Older</span>
      {% endif %}
      {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
          <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
        {% else %}
          <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
        {% endif %}
      {% else %}
        <span class="pagination-item newer">Newer</span>
      {% endif %}
    </div>
