@media {

        /* making font bigger and text color fit uva brand */
        html {
            font-family: 'Montserrat', sans-serif;
            color: #666666; }

            a {
                color: #843b62;}

            a:hover {
                text-decoration: underline}

        h1, h2, h3, h4 {
            font-family: 'Piazzolla', serif;}

.home-page-title{
    display: none;}

    /* bigger font-size for headers */

    .cv-list li {
      list-style-type: none;
      margin-bottom: 1rem;
      margin-top: -.5rem;
      }

      .sidebar {
        font-family: 'Montserrat', sans-serif;
      }

      .sidebar h1 {
        font-size: 3.2rem;
      }

      .thumbnail {
        float: right;
        margin-left: 20px;
        margin-bottom: 10px;
        border: 1px groove #202020;
        padding: 5px;
        width: 250px;
        background-color: #989EBA;
    }
    .lead {
      font-size: 1.15rem; }
}

@media (max-width: 26em) {
    .thumbnail {
        float: left;
        margin-left: inherit;
        margin-right: inherit;;
        width: max-content;}
    }
